@model IEnumerable<OneClickMultipleTransfer.Models.TransferDetails>

@{
    ViewBag.Title = "ConfirmTransfer";
}

<h2>Confirm Transfer</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Payee Account Number")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
</table>
@using (Html.BeginForm())
{
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Transfer All" class="btn btn-primary" />
    </div>
</div>
}
