@model OneClickMultipleTransfer.Models.TransferViewModel

@{
    ViewBag.Title = "InitiateTransfer";
}

<h2>InitiateTransfer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div >
        <h4>TransferDetails</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table>
            <tr>
                <td><a onlick="AddMoreTranfer()">Add Another Payee</a></td>
            </tr>

            <tr>
                <td>
                    
                        @Html.Label("Payee Account Number")
                    &nbsp;&nbsp;&nbsp;
                            @Html.EditorFor(model => model.TransferDetailsList[0].AccountNumber, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.TransferDetailsList[0].AccountNumber, "", new { @class = "text-danger" })
                        
                </td>
                <td>
                    
                    @Html.Label("Payee Name")
&nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.TransferDetailsList[0].PayeeName, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.TransferDetailsList[0].PayeeName, "", new { @class = "text-danger" })

   
                </td>
                <td>

                    @Html.Label("Amount to Tranfer")
                    &nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.TransferDetailsList[0].TransferAmount, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.TransferDetailsList[0].TransferAmount, "", new { @class = "text-danger" })


                </td>
            </tr>
            <tr>
                <td>

                    @Html.Label("Payee Account Number")
                    &nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.TransferDetailsList[1].AccountNumber, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.TransferDetailsList[1].AccountNumber, "", new { @class = "text-danger" })

                </td>
                <td>

                    @Html.Label("Payee Name")
                    &nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.TransferDetailsList[1].PayeeName, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.TransferDetailsList[1].PayeeName, "", new { @class = "text-danger" })


                </td>
                <td>

                    @Html.Label("Amount to Tranfer")
                    &nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.TransferDetailsList[1].TransferAmount, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.TransferDetailsList[1].TransferAmount, "", new { @class = "text-danger" })


                </td>
            </tr>

            
            <tr>
                <td align="center">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Transfer All" class="btn btn-primary" />
                        </div>
                    </div>
                </td>
                
            </tr>           
        </table>


    </div>
    
}

<script>
    function AddMoreTranfer()
    {

    }
</script>